.error_page_paragraph {
    color: #8e8d8d;
}
.error_button_link {
    color: #8A8060;
    border: 1px solid #8A8060;
    padding: 8px 15px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
}

.error__page-height{
    min-height: 200px;
    margin-top:70px;
}
.error__page-height h1{
    color: #001e30;
    font-size: 5em;
}
.error-notFound-logo {
    width: 250px;
    max-height: 75px;
}