<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="/css/bootstrap-5.css" />
  <link rel="stylesheet" src="css/main.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="shortcut icon" href="" alt=">Admin -Karomi" />
  <link rel="manifest" href="./manifest.json">
  <title>Karomi Tech</title>
  <!-- Third-party JS/CSS CDN -->
</head>

<body>
  <main id="app"></main>

  <!-- JS file will be automatically added here by html-webpack-plugin -->
</body>

</html>